In [282]:
import tweepy
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [283]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [284]:

# Twitter API Keys
consumer_key = 'nGqiWNqEmbTmM5hyQGibdqX48'
consumer_secret = 'oJTGMPcANso6OCcEFWDJSWrh0am4M9EOWKQv2SOMDSmDmcDh0k'
access_token = '1010591140402229248-1qr4hgWHjg5jaTqG3vqZXepb3yzmxo'
access_token_secret = 'SzEF02zNyNfYoUTQFNcXyUrKXdc678lPiHLbpbNRawBJ1'


# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [285]:
target_users = ["@BBCWorld", "@CBSNews", "@CNN", "@FoxNews","@nytimes"]

outlets = []
compound_list = []
positive_list = []
negative_list = []
neutral_list = []
tweet_counter = []

for target in target_users:

        public_tweets = api.user_timeline(target, count=100, result_type="recent") 
        
        tweet_number = 100

       
        for tweet in public_tweets: 

           
            scores = analyzer.polarity_scores(tweet['text'])
            compound = scores['compound']
            pos = scores['pos']
            neu = scores['neu']
            neg = scores['neg']
            
            
            
            compound_list.append(compound)
            positive_list.append(pos)
            negative_list.append(neg)
            neutral_list.append(neu)
            outlets.append(target)
            tweet_counter.append(tweet_number)
            
            sentiments = {"User": outlets,
                          "Date": tweet["created_at"],
                          "Compound": compound_list,
                          "Positive": positive_list,
                          "Negative": neutral_list,
                          "Neutral": negative_list,
                         "Tweet_Count": tweet_counter}

In [286]:
sentiments_pd = pd.DataFrame.from_dict(sentiments)
sentiments_pd.head()

,Compound,Date,Negative,Neutral,Positive,Tweet_Count,User
0,0.0000,Sat Jul 14 00:02:05 +0000 2018,1.000,0.000,0.000,100,@BBCWorld
1,-0.4404,Sat Jul 14 00:02:05 +0000 2018,0.698,0.302,0.000,100,@BBCWorld
2,0.0000,Sat Jul 14 00:02:05 +0000 2018,1.000,0.000,0.000,100,@BBCWorld
3,0.2500,Sat Jul 14 00:02:05 +0000 2018,0.818,0.000,0.182,100,@BBCWorld
4,0.0000,Sat Jul 14 00:02:05 +0000 2018,1.000,0.000,0.000,100,@BBCWorld

In [287]:
sentiments_pd.to_csv('news_sentiments.csv')